
.topbg{
    background-color: #1b6d85;
    min-height: 10px;
}
.btmbg{
    background-color: #1b6d85;
    min-height: 10px;
}
.footer{
    background-color: #333333;
    min-height: 120px;
}
.bdy{
    background-image: url("../img/home.png");
    min-height: 650px;
}
h1{
    font-family: "Myriad pro condensed";
    font-size: 50px;
    color: #9adb98;
}
h2{
    font-style: italic;
    font-size: 25px;
    color: #dbd371;
}
